[project]
	description = Some bring-up patches for Mediatek platforms (mt67xx pre-O devices)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Venkat Vishal V (VenkatVishalV)
[access "refs/for/refs/*"]
	read = group user/Venkat Vishal V (VenkatVishalV)
	push = group user/Venkat Vishal V (VenkatVishalV)
	label-Code-Review = -2..+2 group user/Venkat Vishal V (VenkatVishalV)
	label-Verified = -1..+1 group user/Venkat Vishal V (VenkatVishalV)
	rebase = group user/Venkat Vishal V (VenkatVishalV)
	removeReviewer = group user/Venkat Vishal V (VenkatVishalV)
	submit = group user/Venkat Vishal V (VenkatVishalV)
[access "refs/heads/*"]
	read = group user/Venkat Vishal V (VenkatVishalV)
	create = group user/Venkat Vishal V (VenkatVishalV)
	push = +force group user/Venkat Vishal V (VenkatVishalV)
	pushMerge = group user/Venkat Vishal V (VenkatVishalV)
[access "refs/tags/*"]
	push = group user/Venkat Vishal V (VenkatVishalV)
	push = +force group user/Venkat Vishal V (VenkatVishalV)
